@using MvcExample.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            Id
        </div>
        <div class="col-md-9">
            Name
        </div>
    </div>
    <hr />

        @foreach (TableItem item in ViewBag.Items)
        {
            <div class="row">
                <div class="col-md-3" style="font-style: oblique; font-weight: bold; color: red">
                    @Html.DisplayFor(x => item.Id)
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(x => item.Name)
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    <hr/>
</div>
<div>
    @if (ViewBag.Items.Count == 0)
    {
        @Html.Label("This is no item for display")
    }
</div>
@Html.ActionLink("New Item", "Add", null, new { @class = "btn btn-default" })